:root {
    --light-bg-color: #eef1f5;
    --dark-bg-color:#343438;
    --dark-text:#2c3e50;
    --light-text:#eef1f5;
    --accent-color-1:rgb(1, 101, 141);
  }

.body{
    background-color: var(--light-bg-color) !important;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.25rem;
    max-width: 760px;
    margin: auto;
    margin-bottom:1em;
}

.masthead{
    background:  linear-gradient(rgba(165, 197, 197, 0.0), rgba(156, 196, 171, 0.0)), url("../img/forest1.jpeg");
    height:100vh;
    min-height:600px;

    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead h1 {
    font-family: 'Trocchi', serif;
}

h2{
    font-family: 'Trocchi', serif;
    padding-bottom: 1rem;
}

h3{
    font-family: 'Trocchi', serif;
    padding-bottom: 0rem;
    padding-top:1rem;
    margin-bottom:1em;
}

.bg-light p{
    color:var(--dark-text) !important;
}

.bg-light {
    background-color: var(--light-bg-color) !important;
}

.bg-dark {
    background-color: var(--dark-bg-color) !important;
}

section{
    background-color: var(--light-bg-color) !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align:center;
}

#mainNav{
    padding-top:0 !important;
    padding-bottom:0 !important;
}

#mainNav .navbar-toggler {
    margin: auto;
}

#parallax-1 {
    /* The image used */
    background-image: url("../img/roots.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-2 {
    /* The image used */
    background-image: url("../img/sunset-summer.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-3 {
    /* The image used */
    background-image: url("../img/sunset-summer.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parking-map{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.hide-map{
    display:none;
}

#contact{
    text-align:center;
}

#headshot{
    width:100%;
}

.btn-info-light{
    border: 1px solid;
    color:#17a2b8;
}

.fa-external-link{
    color:white;
}

.copyright {
    background-color: var(--dark-bg-color);
<<<<<<< HEAD
}


=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
}

#mainNav .container {
    display: flex;
    justify-content: center;
}

.navbar{
    border-radius:0px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover, .methods-dropdown:hover{
    color:white;
    background-color:#5d5d64;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, .methods-dropdown:active {
    color:white;
}

.navbar{
    border-radius:0px;
}


#mainNav .navbar-nav li.nav-item a.nav-link:hover, .methods-dropdown:hover{
    color:white;
    background-color:#5d5d64;
}


#mainNav .navbar-nav>li.nav-item>a.nav-link.active, .methods-dropdown:active {
    color:white;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus, .methods-dropdown:focus {
    /* border: solid 1px var(--light-text);
    box-shadow: 0 0 10px #719ECE; */
    color:white;
}

.img-gallery{
    max-width:300px;
}

p a{
    color:var(--accent-color-1);
    text-decoration:underline;
}

#map-btn{
    border-width: 2px;
    border-color:var(--dark-bg-color);
    color:var(--dark-bg-color);
}


.btn-info{
    background-color: var(--dark-bg-color);
    border-color:var(--dark-bg-color);
}

.picture-row{
    padding-bottom:2rem;
}

.masthead-overlay{
    background-color: rgba(255,255,255,0.6);
    color:black;
    padding:3rem 0 3rem 0;
}

#methods{
    max-width:760px;
    margin:auto;
    padding:0;
}

.btn-methods{
    background-color:var(--dark-bg-color);
    color:var(--light-text);
    margin:0.25em;
    min-width: 45%;
}


/* The container <div> - needed to position the dropdown content */
.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown-container:hover .dropdown-content {
    display: block;
}

.btn:hover{
    background-color:var(--accent-color-1);
    color:white !important;
    border:2px solid var(--accent-color-1) !important;
}

@media screen and (max-width:991px){
    .dropdown-container:hover .dropdown-content {
        display: none;
    }

    #methods{
        text-align:center;
    }

}


@media screen and (max-width:600px){
    .btn-methods{
        width:75%;
        text-align:center;
        margin:0.5em auto;
    }

    #methods{
        text-align:center;
    }
}


@media screen and (max-width:400px){
    .btn-methods{
        width:80%;
    }
}

.btn:hover{
    background-color:var(--accent-color-1);
    color:white;
}


@media screen and (max-width:991px){
    .dropdown{
        display:none;
    }
}