:root {
    --light-bg-color: #eef1f5;
    --dark-bg-color:#343438;
    --dark-text:#2c3e50;
    --light-text:#f0fde4;
    --accent-color-1:rgb(1, 101, 141);
  }

.body{
    background-color: var(--light-bg-color) !important;
    font-family: 'Lato', sans-serif;
}

p{
    font-size: 1.25rem;
}

.masthead{
    background:  linear-gradient(rgba(165, 197, 197, 0.0), rgba(156, 196, 171, 0.0)), url("../img/forest1.jpeg");
    height:100vh;
    min-height:600px;

    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead h1 {
    font-family: 'Trocchi', serif;
}

h2{
    font-family: 'Trocchi', serif;
    padding-bottom: 1rem;
}

h3{
    font-family: 'Trocchi', serif;
    padding-bottom: 0rem;
    padding-top:1rem;
    margin-bottom:1em;
}

.bg-light p{
    color:var(--dark-text) !important;
}

.bg-light {
    background-color: var(--light-bg-color) !important;
}

.bg-dark {
    background-color: var(--dark-bg-color) !important;
}

section{
    background-color: var(--light-bg-color) !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align:center;
}

#parallax-1 { 
    /* The image used */
    background-image: url("../img/roots.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-2 { 
    /* The image used */
    background-image: url("../img/sunset-summer.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-3 { 
    /* The image used */
    background-image: url("../img/sunset-summer.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parking-map{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.hide-map{
    display:none;
}

#contact{
    text-align:center;
}

#headshot{
    width:100%;
}

.btn-info-light{
    border: 1px solid;
    color:#17a2b8;
}

.fa-external-link{
    color:white;
}

.copyright {
    background-color: var(--dark-bg-color);
}

#mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainNav .container {
    display: flex;
    justify-content: center;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover, .methods-dropdown:hover{
    text-decoration:underline;
    color:white;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, .methods-dropdown:active {
    color:white;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus, .methods-dropdown:focus {
    /* border: solid 1px var(--light-text);
    box-shadow: 0 0 10px #719ECE; */
    color:white;
}

.img-gallery{
    max-width:300px;
}

p a{
    color:var(--accent-color-1);
    text-decoration:underline;
}

#map-btn{
    border-width: 2px;
    border-color:var(--dark-bg-color);
    color:var(--dark-bg-color);
}


.btn-info{
    background-color: var(--dark-bg-color);
    border-color:var(--dark-bg-color);
}

.picture-row{
    padding-bottom:2rem;
}

.masthead-overlay{
    background-color: rgba(255,255,255,0.6);
    color:black;
    padding:3rem 0 3rem 0;
}

.btn-methods{
    background-color:var(--dark-bg-color);
    color:var(--light-text);
    margin:0.25em;
}



.approach-nav-link{
    padding-right:0em !important;
}

.dropdown .nav-link{
    padding-right:1em !important;
}

@media screen and (max-width:991px){
    .dropdown{
        display:none;
    }
}

.btn:hover{
    background-color:var(--accent-color-1);
    color:white;
}
