:root {
    --light-bg-color: #eef1f5;
    --dark-bg-color:#64788e;
    --dark-text:#2c3e50;
    --light-text:#dafdb9;
  }

.body{
    background-color: var(--light-bg-color) !important;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    font-size: 1.25rem;
}

.masthead{
    background:  linear-gradient(rgba(52, 78, 78, 0.0), rgba(36, 54, 43, 0.0)), url("../img/forest1.jpeg");
    height:100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead h1 {
    font-family: 'Trocchi', serif;
}

h2{
    font-family: 'Trocchi', serif;
    padding-bottom: 1rem;
}

h3{
    font-family: 'Trocchi', serif;
    padding-bottom: 0rem;
    padding-top:1rem;
}

.bg-light p{
    color:var(--dark-text) !important;
}

.bg-light {
    background-color: var(--light-bg-color) !important;
}

.bg-dark {
    background-color: var(--dark-bg-color) !important;
}

section{
    background-color: var(--light-bg-color) !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
}

#parallax-1 { 
    /* The image used */
    background-image: url("../img/forest1.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-2 { 
    /* The image used */
    background-image: url("../img/sunset-summer.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parking-map{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.hide-map{
    display:none;
}

#contact{
    text-align:center;
}

#headshot{
    width:100%;
}

.btn-info-light{
    border: 1px solid;
    color:#17a2b8;
}

.fa-external-link{
    color:white;
}

.copyright {
    background-color: #778899;
}

#mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainNav .container {
    display: flex;
    justify-content: center;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover{
    color:var(--light-text);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: var(--dark-text);
    background-color:var(--light-text);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.focus {
    color: var(--dark-text);
    background-color:var(--light-text);
}

.img-gallery{
    max-width:300px;
}

p a{
    color:#599006;
    text-decoration:underline;
}

#map-btn{
    border-width: 2px;
    border-color:var(--dark-bg-color);
    color:var(--dark-bg-color);
}

.btn-info{
    background-color: var(--dark-bg-color);
    border-color:var(--dark-bg-color);
}

.picture-row{
    padding-bottom:2rem;
}

.banner-text{
    background-color: rgba(255,255,255,0.6);
    color:black;
    padding:2rem;
}